@import url(./global.css);


.header {
    position: relative;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    padding: 100px 0 300px;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite alternate;
}

.header::after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}

.header__content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    gap: 40px;
}

.header-images {
    display: flex;
    gap: 24px;
}

.header-image {
    object-fit: contain;
}

.title-header {
    text-transform: uppercase;
}

.title__header-span {
    font-weight: lighter;
}

.title-header p {
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: bolder;
}

/*Row Gradient*/

.div-row {
    width: 51.8%;
    height: 5px;
    background: var(--divider-bg-color);
}

/*Text Signature*/

.text-signature {
    font-size: 1.25rem;
}

.signature-price {
    font-family: "Raleway", sans-serif;
    font-size: 2.50rem;
    font-weight: 900;
}

.signature-month {
    font-size: 1rem;
    font-weight: 100;
    color: var(--text-color);
}

/*Button Signature*/
.button {
    padding: 16px 40px;
    background-color: var(--tertiary-color);
    border-radius: 500px;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
}

.header__sign-button {
    background: var(--btn-bg-color-gradient);
    outline: 2px solid transparent;
    transition: background 1s, outline 1s;
    background-size: 250%;
}

.header__sign-button:hover {
    background-color: transparent;
    background-position: right;
    outline: 2px solid var(--secondary-color);
}

.button-animation {
    animation: shake 2s ease-in-out infinite;
}

/*Cards*/

.title-plans {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.cards-plans {
    padding: 24px;
    margin: auto;
    max-width: 1200px;
}

.offers {
    display: flex;
    justify-content: center;
    background-image: url(../images/background-movies-series.png);
    background-size: cover;
    scroll-margin-top: 40px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-top: 40px;
    perspective: 2000px;
    perspective-origin: top;
}

.title-card {
    display: flex;
    justify-content: space-between;
}

.card-offer {
    background: var(--card-bg-color);
    padding: 40px 60px;
    border-radius: 8px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 1s ease-in-out;
}

h3 {
    font-size: 1.46rem;
}

.card__text-price {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 650;
    color: var(--secondary-color);
    margin-bottom: 24px;
}

ul {
    text-align: left;
    list-style: none;
    font-size: 1.25rem;
}

li {
    margin-bottom: 24px;
    padding-left: 14px;
}

li::marker {
    content: "+";
    font-size: 1.8rem;
}

button {
    padding: 16px 40px;
    background: var(--btn-bg-color-gradient);
    border-radius: 500px;
    color: var(--text-color);
    border: none;
    outline: 2px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    background-size: 250%;
    cursor: pointer;
    transition: background 1s, outline 1s, transform 1s;
}

button:hover {
    background-color: transparent;
    background-position: right;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.1);
}

.cards:has(.card-offer:nth-child(1):hover) .card-offer:nth-child(2) {
    transform: rotateY(-45deg);
}

.cards:has(.card-offer:nth-child(2):hover) .card-offer:nth-child(1) {
    transform: rotateY(45deg);
}

.movies {
    margin: 100px auto;
    max-width: 1200px;
    padding: 26px;
}

.images-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 40px;
    gap: 44px;
}

.image-content {
    width: 100%;
    border-radius: 14px;
    transition: opacity 2s;
}

.images-card {
    border-radius: 14px;
    background-repeat: no-repeat;    
    background-position: center center;
    background-size: 100%;
    overflow: hidden;
    transition: transform 1s;
}

.image-content:hover {  
    border: 2px solid var(--tertiary-color);  
    opacity: 0;
    transform: scale(1.1);
}

.images-card:nth-child(1):hover {  
    transform: scale(1.1);     
    opacity: 1;
    background-image: url(../images/hbo-hover_0.webp);    
}

.images-card:nth-child(2):hover {
    transform: scale(1.1);
    background-image: url(../images/MAX-Hover.webp);
}

.images-card:nth-child(3):hover {
    transform: scale(1.1);
    background-image: url(../images/DC-Hover.webp);
}

.images-card:nth-child(4):hover {
    transform: scale(1.1);
    background-image: url(../images/WB-Hover.webp);
}

.images-card:nth-child(5):hover {
    transform: scale(1.1);
    background-image: url(../images/CN-Hover.png);
}

.images-card:nth-child(6):hover {
    transform: scale(1.1);
    background-image: url(../images/UCL-Hover.webp);
}

@media screen and (max-width: 1140px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .card-offer {
        width: 600px;
    }
}

@media screen and (max-width: 800px) {

    .images-movies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-offer {
        width: 100%;
    }
}

@media screen and (max-width: 570px) {
    .header-images {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .title-header {
        margin: auto;
        justify-content: center;
        flex-wrap: wrap;
        width: 350px;
    }

    .images-movies {
        display: grid;
        grid-template-columns: repeat(6, 100%);
        overflow-x: auto;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(-10deg);
    }

    20% {
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(5deg);
    }

    35% {
        transform: rotate(-5deg);
    }

    40% {
        transform: rotate(0);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}