@import url(./global.css);

body {
    display: flex;
    flex-direction: column;
    background-image: url(../images/background-movies-series.png);
    background-size: 106%;
}

.title-login {
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-align: center;
}

.form-content {
    margin: 79px auto;
    width: 800px;
    height: 421px;
    border-radius: 8px;
    background: var(--form-bg-color);
}

.form-itens {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    gap: 24px;
}

.form-field {
    padding: 17.5px 16px;
    border-radius: 8px;
    background: var(--form-field-bg-color);
    border-width: 1.9px;
    border-color: var(--form-field-border);
    color: var(--text-color);
}

.buttons-login {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-top: 28px;
}

.login-button {
    padding: 16.5px 40px;
    background: var(--btn-bg-color-gradient);
    border-radius: 500px;
    color: var(--text-color);
    border: none;
    outline: 2px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 4.4px;
    background-size: 250%;
    cursor: pointer;
    transition: background 1s, outline 1s, transform 1s;
}

.login-button:hover {
    background-color: transparent;
    background-position: right;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.1);
}

.login-password {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 700;
}

.form-field::-webkit-input-placeholder {
    color: var(--form-field-placeholder);
    font-size: 1rem;
}

input:invalid {
    border-color: red;
}

footer {
    margin-top: -90px;
}